tr {
    color:darkolivegreen;
    border: 1px dotted black;
    text-align:center;
}

table {
    border: 1px dashed black;
    
}

body {
    font-family:'Segoe UI';
    background-color: whitesmoke;
}

